* {
	box-sizing: border-box;
}

body {
	width: 100%;
}

#root {
	min-height: 750px;
	height: 100%;
}

div {
	border: 1px solid lightgrey;
	margin: 10px;
}

.main {
	width: 90%;
	height: 100%;
	min-height: 750px;
	padding: 20px;
	padding-left: 3%;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: 10px;
}

.right, .poster {
	height: 60%;
	padding: 5px;
	float: left;
}

.right {
	width: 40%;
	height: 584px;
}

.poster {
	width: 45%;
}

.score, .timer {
	width: 95%;
	display: inline-block;
}

h2.score-number {
	font-size: 48px;
	color: darkgrey;
}

.poster>img {
	max-width: 320px;
	width: 100%;
	display: block;
	margin: 10px auto;
}

button {
	display: block;
	margin: auto;
	width: 29%;
	height: 35px;
}

.guess {
	padding: 15px;
}

form {
	text-align: left;
	padding: 15px;
}

input {
	display: block;
	margin: auto;
	width: 99%;
	height: 40px;
	padding: 4px 10px;
	text-align: center;
}

input:nth-of-type(2) {
	margin-top: 15px;
}

input:disabled {
	font-weight: bolder;
	color: green;
	font-style: italic;
}

.guess button {
	width: 99%;
	cursor: pointer;
}

