* {
	box-sizing: border-box;
}

body {
	width: 100%;

}

#root {
	min-height: 750px;
	height: 100%;
}

div {
	border: 1px solid lightgrey;
	margin: 10px;

}

.main {
	width: 95%;
	height: 100%;
	min-height: 750px;
	padding: 20px;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: 5px;
}

.right, .poster {
	width: 45%;
	height: 60%;
	padding: 5px;
	float: left;
}

.score, .guess, .timer {
	width: 95%;
	display: inline-block;
}

.poster>img {
	max-width: 320px;
	width: 100%;
	display: block;
	margin: 10px auto;
}

.guess {
	padding: 15px;
}

form {
	text-align: left;
	padding: 15px;
}

input {
	width: 70%;
	height: 35px;
	padding: 4px;
}

button {
	width: 29%;
	height: 35px;
}